body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(211, 155, 155);
    text-align: center;
    padding: 2cm;
}

.class{
    color: brown;
}

#id{
    color: blue;
}